@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "ShowCommentsbyProduct";
}
<div class="row mt-2">
    @foreach (var item in ViewBag.comment)
    {
        <h4 style="color:coral">@item.UserName</h4>
        <p>@item.Content</p>

        if (User.Identity.Name == item.UserName || User.IsInRole("admin"))
        {
            using (Html.BeginForm("DeleteComment", "Comment", new { id = item.Id }, FormMethod.Post))
            {
                <input type="submit" value="Delete" class="btn btn-danger col-md-2" />
            }
        }
    }
</div>

