@using Abc.MvcWebUI.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Just Buy it!</h1>
        <p class="lead">This is a simple E-Commerce website with basic features.</p>
        <hr class="my-4">
        <i style="font-size:25px">You affect the world by what you browse.    — Tim Berners-Lee</i>

    </div>
</div>


<div class="container pb-5">
    @Html.Partial("_ProductList", Model)
</div>


